<h2 class="title is-2">登録情報編集画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード(6字以上)", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認)", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </p>
  </div>


  <div class="actions">
    <%= f.submit "更新", class: "button is-dark is-pulled-right" %>
  </div>
<% end %>
<br>
<br>
<div class="buttons">
  <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %>
</div>
<br>
<p><%= link_to "投稿一覧へ戻る", :back %></p>
