  <% if user_signed_in? %>
    <p class="level-item has-text-centered">
      <%= link_to "ログアウト", sign_out_path, method: :delete, class: "navbar-item" %>
    </p>
  <% else %>
    <p class="level-item has-text-centered">
      <%= link_to "ログイン", sign_in_path, class: "navbar-item" %>
    </p>
    <p class="level-item has-text-centered">
      <%= link_to "新規登録", sign_up_path, class: "navbar-item" %>
    </p>
  <% end %>

<% if user_signed_in? %>
  <h2 class='title is-2'>マイページ</h2>
<% else %>
  <h2 class='title is-2'><%= @user.name%></h2>
<% end %>

<%= render 'stats' %>
<%= render 'follow_form' if user_signed_in? %>

<%= render 'avatar', user: @user %>
<%= @user.profile %>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
   <%= image_tag post.post_image.url %>
   <p><%= post.title %></p>
  <% end %>
<% end %>
<p>
  <% if user_signed_in? %>
      <%= link_to 'マイページ編集', edit_user_path %>
      <%= link_to '登録情報編集', edit_user_registration_path %>
  <% end %>
</p>
