<h2><%= @user.name %>さんのマイページ</h2>

<% if @user.profile_image?%>
<%= image_tag @user.profile_image.thumb.url %>
<% else %>
<%= image_tag "/assets/default.png" %>
<% end %>
<%= @user.profile %>


<% if current_user == @user %>
    <%= link_to "マイページ編集", edit_user_path %>
    <%= link_to "登録情報編集", edit_user_registration_path %>
<% end %>
