<%= image_tag @post.post_image.thumb.url %>
<p><%= @post.title %>by.<%= link_to @user.name, user_path(@user.id)%></p>

<p><%= @post.body %></p>

<% if @user == current_user %>
  <%= link_to "編集", edit_post_path %>
  <%= link_to "削除", post_path(@post.id), method: :delete %><br>
<% end %>

<%= link_to "一覧に戻る", posts_path %>
