<div class="columns is-mobile">
  <div class="column is-one-quarter is-hidden-mobile">
    <div class="sticky">
      <aside class="menu">
        <ul class="menu-list">
          <p class="menu-label">
            <%= link_to @category.parent.name, "/categories_post/#{@category.parent_id}", method: :get if @category.ancestors? %>
          </p>
          <li>
            <%= @category.name %>
          </li>
          <li>
            <ul>
              <% @categories.each do |category| %>
                <li>
                  <%= link_to category.name, "/categories_post/#{category.id}", method: :get %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="column">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.post_image.url %>
        <p><%= post.title %>by.
      <% end %>
      <%= link_to post.user.name, user_path(post.user_id)%></p>
    <% end %>
  </div>
</div>
